.container-center {
    text-align: center;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 40px;
}

.tcenter {
    text-align: center;
}

.btn-rect {
    border-radius: 0;
}

.info-group {
    padding: 30px 0 20px;
    border-bottom: 1px solid #e7e7e8;
}

.error {
    text-align: left;
    display: none;
}

.alert {
    padding: 6px;
    margin-top: 6px;
}

.hide {
    display: none;
}

.pointer {
    cursor:pointer;
}

.text-right {
    text-align: right;
}

#div-results {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

.title {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title h1 {
    font-weight: 600;
}