h1 {
    font-size: 40px;
    font-weight: 600;
}

.input-lg {
    line-height: 1.2em;
    font-size: 1.2em;
}

.info-group {
    padding: 30px 0 20px;
    border-bottom: 1px solid #e7e7e8;
}

button {
    margin-top: 20px;
}

.error {
    text-align: left;
    display: none;
}

.alert {
    padding: 6px;
    margin-top: 6px;
}