#div-results {
    margin-top: 30px;
}

.title {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title h1 {
    font-weight: 600;
}

.panel {
    overflow: hidden;
}

.panel-heading {
    font-size: 1.2em;
    line-height: 2em;
}

.btn-return, .btn-pay {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}